/* Calendar */
.calendar-row {
  display: flex;
  margin: 20px 0 -90px 0;

  .calendar-wrapper {
    margin: 20px auto;
    margin-right: 20px;
    padding: 7px 5px 0 10px;
    border-radius: $border-radius;
    border: 1px solid #e3e3e3;

    .calendar-field {
      border: none;
      color: $text-color;
    }

    .vertical-line {
      border-left: 2px solid #e3e3e3;
      height: 28px;
      margin: 20px 20px 20px -40px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      background-image: url("../../images/icons/calendar.svg");
      background-position: 100% center;
      cursor: pointer;
      filter: $filter-gray;
    }
  }

  .btn-refresh {
    margin: 20px auto;
    margin-left: 0;
  }
}

/* Diagram */
.line-diagram {
  margin-top: 110px;
}

.main__diagram {
  width: 100%;
  max-width: 100%;
  margin: 15px;

  .main__row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .main__lines {
      margin-bottom: 20px;
      margin-top: -30px;
    }

    .main__border-bottom {
      padding-bottom: 5px;
    }

    .main__diagram-numbers {
      position: relative;
      margin: 20px 60px 5px 30px;

      .h2-title {
        display: inline;
      }

      .h4-title {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -70%);
        display: inline;
      }
    }
  }
}

.diagram {
  position: relative;
  width: 80%;
  margin: 20px;
  margin: 0 auto;

  .h2-title  {
    margin: 60px 0 30px 10px;
  }

  #myChart{
    margin-top: 20px;
  }
}

#details, #links, #banners, #personal-data, #payout, #postback {
  display: none;
}

.active {
  display: block;
}

@media(max-width: 767px) {
  .calendar-row {
    .calendar-wrapper {
      margin-right: 20px;
      padding: 7px 5px 5px 10px;
      border-radius: $border-radius;
      border: 1px solid #e3e3e3;

      .calendar-field {
        border: none;
        color: $text-color;
      }

      .vertical-line {
        display: none;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url("../../images/icons/calendar.svg");
        background-position: 100% center;
        cursor: pointer;
        filter: $filter-gray;
        // margin-top: -30px;
        margin: -30px 0 0 100px;
        display: inline;
      }
    }

    .btn-refresh {
      // margin: 20px auto;
      margin-left: 0;
    }
  }
}
