@media(max-width: 767px) {
  .navbar__mobile {
    // background-color: $sidebar-color;
    // width: 100vw;
    // height: 100%;
    // position: fixed;
    // z-index: 999;
    // padding: 20px;

    .navbar__wrapper {
      display: block;

      .navbar__main {
        background-color: $sidebar-color;
        width: 100vw;
        height: 100%;
        position: fixed;
        z-index: 999;
        padding: 20px;

        padding: 10px;

        a {
          display: inline-block;
          margin-left: 10px;
          text-decoration: none;
          padding-left: 50px;
        }

        img {
          width: 20px;
          filter: $filter-white;
        }

        .navbar__notification {
          display: block;
          background-color: $button-color;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          margin-left: -9px;
          position: fixed;
        }

        .hamburger-mobile {
          margin-top: -35px;
          margin-left: 130px;
        }

        span {
          display: block;
          position: relative;
          background: $button-color;
          width: 25px;
          height: 2px;
          margin: 8px auto;
        }
      }

      .navbar__options {
        background-color: $sidebar-color;
        width: 100vw;
        height: 100%;
        z-index: 999;
        padding: 20px;
        align-items: center;

        ul {
          // float: right;
          // align-items: center;
        }

        li {
          // float: right;
          display: flex;
        }

        a {
          text-decoration: none;
          color: $text-color;
          font-family: $font-header;
          font-size: 17px;
          font-weight: $font-light;
          padding: 15px;
        }

        .navbar__icon {
          filter: $filter-gray;
          width: 15px;
          height: 12px;
          margin-right: 15px;
        }
      }

      .hiddem {
        display: none;
      }
    }
  }
}
