@media(max-width: 767px) {
  .navbar__mobile {
    width: 100vw;
    height: 100%;
    z-index: 999;
    padding: 20px;

    .navbar__wrapper {
      display: block;

      .navbar__main {
        background-color: $sidebar-color;
        width: 100%;
        height: 90px;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 999;
        padding: 20px;

        .navbar__logo {
          padding-top: 10px;
          margin-right: 80px;
          width: 100px;
        }

        .navbar__icon {
          filter: $filter-gray;
          width: 30px;
          height: auto;
        }

        .navbar__notification {
          display: block;
          background-color: $button-color;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          margin-left: -9px;
          position: fixed;
        }

        .hamburger-mobile {
          float: right;
        }

        span {
          display: block;
          position: relative;
          background: $button-color;
          width: 40px;
          height: 2px;
          margin: 10px auto;
        }
      }

      .navbar__options {
        margin-top: 70px;
        background-color: $sidebar-color;
        width: 100vw;
        height: 100%;
        z-index: 998;
        padding: 20px;
        margin-left: 0;
        // left: 0;
        // align-items: center;

        ul {
          display: block;
        }

        li {
          display: flex;
        }

        a {
          font-size: 20px;
          text-decoration: none;
          color: $text-color;
          font-family: $font-header;
          font-weight: $font-light;
          padding: 15px;
        }

        img {
          height: 15px;
          width: 20px;
          // padding-right: 20px;
          margin-right: 20px;
          filter: $filter-gray;
        }

        .navbar__icon-dropdown {
          margin-top: 20px;
        }
      }

      .hiddem {
        display: none;
      }
    }
  }
}
