.topbar__section {
  position: fixed;
  // right: 0;
  background-color: $background-color;
  width: 100%;
  z-index: 1;
  max-width: 2000px;

  .topbar {
    background-color: $box-color;
    color: $box-color;
    box-shadow: $box-shadow;

    .topbar__container {
      display: flex;
      align-items: center;
      flex-flow: row-reverse;
      background-color: $box-color;
      height: 60px;

      .topbar__nav {
        padding: 20px 20px 0 20px;
        border-left: 1px solid #e3e3e3;
        background-color: $box-color;
        height: 100%;

        &:hover {
          background-color: $background-color;
          transition: $transition;
          cursor: pointer;
        }
      }

      .topbar__notification {
        display: block;
        background-color: #f58220;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin: -3px 5px 20px -20px;
        position: fixed;
      }

      .topbar__icon {
        filter: $filter-gray;
        height: 18px;
        padding: 0 10px 0 10px;
      }

      .topbar__arrow {
        filter: $filter-gray;
        height: 10px;
        padding: 0 10px 0 10px;
      }

      h1 {
        display: inline;
      }

      p {
        display: inline;
        color: #56819f;
        position: relative;
        top: -10%;
        padding-right: 10px;
      }
    }
  }
}
