body {
  background-color: $background-color;
  color: $text-color;
}

.main {
  margin-left: 190px;
  padding: 20px;
}

.main__wrapper {
  margin-top: 60px;
}

.main__section {
  height: 100%;
  background-color: $box-color;
  box-shadow: $box-shadow;
  padding: 1px 20px 20px 20px;
  margin-bottom: 20px;
}
