/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font-header: 'Roboto', sans-serif;

/* Font type */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

/* Transitions */
$transition: all .3s;

/* Margins */

/* Global */

.h1 {
  font-family: $font-header;
  font-size: 20px;
  font-weight: $font-regular;
}

.h2 {
  font-family: $font-header;
  font-size: 16px;
  font-weight: $font-bold;
}

.h3 {
  font-family: $font-header;
  font-size: 16px;
  font-weight: $font-medium;
  text-transform: uppercase;
}

.h4 {
  font-family: $font-header;
  font-size: 16px;
  font-weight: $font-light;
}

.p {
  font-family: $font-header;
  font-size: 14px;
  font-weight: $font-light;
}

