/* Colors */
$sidebar-color: #191919;
$background-color: #f5f5f2;
$box-color: #fff;
$button-color: #f58220;
$text-color: #818181;

/* Shadow */
$box-shadow: 0px 0px 28px -3px #d1d1d1;

/* Border radius */
$border-radius: 5px;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$font-header: 'Roboto', sans-serif;

/* Font type */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

/* Transitions */
$transition: all .3s;

/* Filters */
$filter-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(257deg) brightness(117%) contrast(115%);
$filter-gray: invert(54%) sepia(0%) saturate(0%) hue-rotate(67deg) brightness(94%) contrast(92%);
$filter-orange: invert(67%) sepia(32%) saturate(5957%) hue-rotate(347deg) brightness(100%) contrast(93%);
