/* Links */
.links-wrapper {
  margin: 0 150px;
  overflow-x: auto;

  .h2-title {
    white-space: nowrap;
  }

  .table-links {
    width: 100%;

    .icon-link {
      filter: $filter-orange;
      width: 25px;
      margin-right: 30px;
      // margin-top: -15px;
      opacity: 0;
      float: right;
      cursor: pointer;
    }

    .icon-trash {
      filter: $filter-gray;
      width: 20px;
      margin-top: -6px;
      opacity: 0;
      float: right;
      cursor: pointer;
    }

    .main__url {
      color: #56819f;
      text-decoration: none;
      padding-left: 70px;
    }

    &:hover {
      background-color: $background-color;
      transition: $transition;

      .icon-link {
        opacity: 1;
        transition: $transition;
      }

      .icon-trash {
        opacity: 1;
        transition: $transition;
      }
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media(max-width: 767px) {
  .links-wrapper {
    margin: 0;
  }
}
