/* Links */
.links-wrapper {
  margin: 0 200px;

  .table-links {
    width: 100%;

    .main__url {
      color: #56819f;
      text-decoration: none;
      padding-left: 100px;
    }

    .icon-link {
      filter: $filter-orange;
      width: 25px;
      margin-right: 25px;
      opacity: 0;
      float: right;
    }

    .icon-trash {
      filter: $filter-gray;
      width: 20px;
      margin-top: -6px;
      opacity: 0;
      float: right;
    }

    &:hover {
      background-color: $background-color;
      transition: $transition;

      .icon-link {
        opacity: 1;
        transition: $transition;
        cursor: pointer;
      }

      .icon-trash {
        opacity: 1;
        transition: $transition;
        cursor: pointer;
      }
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
