
.main__form-wrapper {
  padding-top: 40px;

  .main__lines {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .btn-main {
    width: 95px;
  }

  .form {
    text-align: center;
    padding-bottom: 20px;

    .form-label {
      float: left;
      width: 40%;
      margin-top: 15px;
    }

    .main__border-form {
      padding-left: 15px;
      width: 300px;
      height: 40px;
      margin-right: 200px;
    }

    .h2-title {
      margin-left: 250px;
      float: left;
    }
  }
}
