/* Bottom lines */
.main__lines {
  display: block;
  position: absolute;
  background: #e3e3e3;
  width: 1021px;
  margin-left: -20px;
  height: 1px;
}

.main__border-bottom {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 15px;
}

/* Boxes */
.main__border-form {
  border: 1px solid #e3e3e3;
}

.main__border-top-bottom {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  &:hover {
    background-color: $background-color;
    transition: $transition;
    cursor: pointer;
  }
}

/* Dots */

.dot-orange {
  width: 15px;
  height: 15px;
  background-color: $button-color;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  width: 15px;
  height: 15px;
  background-color: #59b66d;
  border-radius: 50%;
  display: inline-block;
}

.dot-blue {
  width: 15px;
  height: 15px;
  background-color: #80bfca;
  border-radius: 50%;
  display: inline-block;
}
